.Toolbar2 {
    display: flex;
    justify-items: center;
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0%;
    top:100px;
    background-color: white;
}

.Toolbar2 ul {
    display: flex;
    position: fixed;
    right:10%;
}

.Toolbar2 li {

    list-style: none;
    margin-right: 20px;
}

.Toolbar2 ul li a {
    text-decoration: none;
    color: black;
}

.Toolbar2 ul li a:hover {
    text-decoration: underline;
}

