.budy{
    margin: 0%;
}
.Toolbar1{
    position: fixed;
    left: 0%;
    top: 0px;
    display: flex;
    justify-items: center;
    width: 100%;
    height: 90px;
    padding: 5px;
    z-index: 1;
    background-color: white;
}

.logo img{
    position: fixed;
    right:0% ;
    width: auto;
    height: auto;
    
 

}

.search input{
    margin-top: 30px;
    height: 30px;
    position: fixed;
    right: 15%;
    width: 400px;
    border-radius: 5px;
    background-color: rgba(137, 138, 139, 0.2);
    border: none;
    outline: none;
    padding: 3px 10px 3px 10px;
   
}
.login button{
    margin-left: 60px;
    margin-top:25px;
    padding: 5px;
}
.login button:hover{
    cursor: pointer;

}
.buy img{

    position: fixed;
    margin-top: 25px;

    left: 20px;
    height: 28px;
    width: 28px;
}